.i{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 3px solid #222A53;
}

.l{
background-color: #152048;
}
.li{
background-color: white;
}
.parrafo{
	font-family: "Angency FB";
	font-size: 18px;
}

.titulo{
	font-family: "Impact";
	font-size: 35px;
	color:  #152048;
}

.ti{

font-family: "Angency FB";
	font-size: 18px;

}

.p{
background-color: black;
}

.pa{
	font-family: "Angency FB";
	font-size: 28px;
	color: white ;
}

#icon {
  display: inline-block;
  color: white;
  font-size: 30px;
  margin-top: 5px;
}
.o{

	color: black;
}

#icon2 {
  display: inline-block;
  color: black;
  font-size: 15px;
}